{% extends "../base.html" %}
{% block menu %}
			<ul>
				<li><a href="/peladeiro?action=confirm">Confirmar Cadastro</a></li>
				<li><a href="/?action=logoff">Sair</a></li>
			</ul>
{% endblock menu %}
{% block content %}
		<h2><a href="/peladeiro">Manter Peladeiro</a></h2>
		<form action="/peladeiro" method="post">
			<input type="hidden" name="action" value="confirm" />
			<input type="hidden" name="do" value="{{do}}" />
			Nome: <input type="text" id="nome" name="nome" value="{{peladeiro.nome}}" /><br />
			Apelido: <input type="text" id="apelido" name="apelido" value="{{peladeiro.apelido}}" /><br />
			Telefone: <input type="text" id="telefone" name="telefone" value="{{peladeiro.telefone}}" /><br />
			Email: <input type="text" id="user" name="user" value="{{peladeiro.user}}@gmail.com" disabled="disabled" /><br />
			<input type="submit" value="Confirmar" />
		</form>
{% endblock content %}
