{% extends "../base.html" %}
{% block menu %}
{% include "../menu.html" %}
{% endblock menu %}
{% block content %}
 <script language="JavaScript">
	function submitForm()
	{
		form = document.getElementById('frm');
		submeter = true; 
		if (form.user.value == '') {			
			submeter = false;
		}
		if (form.nome.value == '') {
			submeter = false;
		} 
		if (form.apelido.value == '') {
			submeter = false;
		}
		if (form.telefone.value == '') {
			submeter = false;
		}
		if (submeter) {
			form.submit();
		} else {
			alert('Preencha o campo e-mail, nome, apelido e telefone.');
		}				  
	}
 </script>
<style>
    img {
		border: 0px;
	}
</style>
		<h2>Manter Peladeiro</h2>
		<form action="/peladeiro" method="post" id="frm">
			<input type="hidden" name="action" value="save" />
			<input type="hidden" name="id" value="{{peladeiro.id}}" />
			Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="user" name="user" value="{% ifequal peladeiro.user None %}{% else %}{{peladeiro.user}}{% endifequal %}" />@gmail.com<br />
			Nome:&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" id="nome" name="nome" value="{{peladeiro.nome}}" /><br />
			Apelido:&nbsp;&nbsp; <input type="text" id="apelido" name="apelido" value="{{peladeiro.apelido}}" /><br />			
			Telefone: <input type="text" id="telefone" name="telefone" value="{{peladeiro.telefone}}" /><br />
			<br/>
			<a href="javascript: submitForm();"><img alt="Salvar" src="/resources/img/salvar.jpg"></a><br/>
			
			{% ifnotequal message.info None %}
			<p class="info">{{message.info}}</p>
			{% endifnotequal %}
			{% ifnotequal message.error None %}
			<p class="error">{{message.error}}</p>
			{% endifnotequal %}
		</form>
{% endblock content %}
