{% extends "../base.html" %}
{% block menu %}
{% include "../menu.html" %}
{% endblock menu %}
{% block content %}
<style>
    img {
		border: 0px;
	}
}

</style>
		<h2>Manter Peladeiro</h2>
		<br/>
		Contamos com <b>[{{peladeiros.count}}]</b> peladeiros cadastrados
		<br/>
		<br/>
		
		&nbsp;&nbsp;<a href="/peladeiro?action=new" title="Incluir novo peladeiro"><img alt="" src="/resources/img/inserir.gif">&nbsp;<b>Novo peladeiro</b></a>
		
		<br/>
		<br/>				
		{% ifnotequal peladeiros.count 0 %}
		<table>
			<tr>				
				<th>Nome</th>
				<th>Apelido</th>
				<th>Alterar</th>				
				<th>Detalhar</th>				
				<th>Excluir</th>
			</tr>
			{% for peladeiro in peladeiros %}
			<tr>
				<td>{{peladeiro.nome}}</td>
				<td>{{peladeiro.apelido}}</td>
				<td>{% ifequal peladeiro.user usuario.user %}
						<a href="/peladeiro?action=edit&id={{peladeiro.key}}" title="Editar informações pessoais"><img alt="" src="/resources/img/edit.gif"></a>
					{% endifequal %}
				</td>
				<td>					
					<a href="/peladeiro?action=view&id={{peladeiro.key}}" title="Detalhes do peladeiro"><img alt="" src="/resources/img/list.gif"></a>					
				</td>
				<td>{% if administrador %}					
						<a href="/peladeiro?action=delete&id={{peladeiro.key}}" title="Excluir peladeiro"><img alt="" src="/resources/img/no.gif"></a>
					{% endif %}					
				</td>
			</tr>
			{% endfor %}
		</table>
		{% endifnotequal %}
{% endblock content %}
