{% extends "../base.html" %}
{% block menu %}
{% include "../menu.html" %}
{% endblock menu %}
{% block content %}
		<h2>Detalhes do Peladeiro</h2>
		<table>
			<tr>
				<td><span>Nome</span></td>
				<td><font>{{peladeiro.nome}}</font></td>
			</tr>
			<tr>
				<td><span>Apelido</span></td>
				<td><font>{{peladeiro.apelido}}</font></td>
			</tr>
			<tr>
				<td><span>Email</span></td>
				<td><font>{% ifequal peladeiro.user None %}{% else %}{{peladeiro.user}}{% endifequal %}@gmail.com</font></td>
			</tr>
			<tr>
				<td><span>Telefone</span></td>
				<td><font>{{peladeiro.telefone}}</font></td>
			</tr>
		</table>	
		<p/>
		<font><a href="/peladeiro">voltar</a></font>
{% endblock content %}
