{% extends "../base.html" %}
{% block menu %}
{% include "../menu.html" %}
{% endblock menu %}
{% block content %}
<body>
	<h2><a href="/acesso">Manter Controle de Acesso</a></h2>
	<form action="/acesso" method="post">
		<input type="hidden" name="action" value="save" />
		<input type="hidden" name="id" value="{{peladeiro.key}}" />
		Peladeiro: {{peladeiro.user}}<br />
		<table>
			<tr>
				{% for modulo in modulos %}  
					<th>{{modulo.nome}}</th>
				{% endfor %}
			</tr>
			<tr>
				{% for modulo in modulos %}  
					<td><input type="checkbox" id={{modulo.nome}} name={{modulo.nome}}
					{% for acesso in peladeirosAcessos %} 
						{% ifequal modulo.key acesso.modulo.key %} 
							checked
						{% endifequal %}
					{% endfor %}
					></td>
				{% endfor %}
			</tr>
		</table>
		
		<input type="submit" value="Confirmar" />
	</form>
</body>
{% endblock content %}
