{% extends "../base.html" %}
{% block menu %}
{% include "../menu.html" %}
{% endblock menu %}
{% block content %}
		<h2>Manter Controle de Acesso</h2>
		{% ifnotequal peladeiros.count 0 %}
		<table>
			<tr>
				<th>Nickname</th>
				{% for modulo in modulos %}  
					<th>{{modulo.nome}}</th>
				{% endfor %}
				<th></th>
			</tr>
			{% for peladeiro in peladeiros %}
			<tr>
				<td>{{peladeiro.user}}</td>
				{% for modulo in modulos %}  
					<td>
						{% for peladeiroAcesso in peladeirosAcessos %}
							{% ifequal peladeiro.key peladeiroAcesso.peladeiro.key %}
								{% ifequal modulo.key  peladeiroAcesso.modulo.key %}
									X
								{% endifequal %}
							{% endifequal %}							
						{% endfor %}
					</td>
				{% endfor %}
				<td><a href="/acesso?action=edit&id={{peladeiro.key}}">alterar</a></td>
			</tr>
			{% endfor %}
		</table>
		{% endifnotequal %}
{% endblock content %}
