<html>
	<head>
          <link href="./resources/css/principal.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
    <div id="container">
    		<div id="header"></div>
    		<div id="menu">
    		{% block menu %}
    			Substituir
    		{% endblock menu %}
    		</div>
    		<div id="content">
    		{% block content %}
    			Substituir
    		{% endblock content %}	
    		</div>
    		<div id="footer">
            </div>
    </div>
	</body>
</html>