{% extends "base.html" %}
{% block menu %}
			<ul>
				<li><a href="/?action=logon">Entrar</a></li>
			</ul>
{% endblock menu %}
{% block content %}
	Usu&aacute;rio Desconectado. Favor realizar o login.
{% endblock content %}
