{% extends "base.html" %}
{% block menu %}
{% include "menu.html" %}
{% endblock menu %}
{% block content %}
	<h2>Bem vindo {{peladeiro.nome}} !!!</h2>
	<br/>
	<font>Participe e colabore com o desenvolvimento de nosso site.<br/>
	Não esqueça de confirmar sua participação no futebol da galera em <b> detalhes da pelada</b>.
	<br/>Não excluam peladeiros ativos, o controle financeiro ja esta sendo feito via site.
	</font> 
	
{% endblock content %}
