			<ul id="menu_vertical">
				<li><a href="/">Home</a></li>
				<li><a href="/pelada">Pelada</a></li>
				<li><a href="/peladeiro">Peladeiro</a></li>
				<li><a href="/artilharia">Artilharia</a></li>
				<li><a href="/mensagem">Mensagem</a></li>
				<li><a href="/financeiro">Financeiro</a></li>
				<li><a href="/acesso">Acesso</a></li>
				<li><a href="/modulo">Modulo</a></li>
				<li><a href="/?action=logoff">Sair</a></li>
			</ul>