{% extends "../base.html" %}
{% block menu %}
{% include "../menu.html" %}
{% endblock menu %}
{% block content %}
		<h2><a href="/financeiro">Controle Financeiro</a></h2>
		<h3>Novo</h3>
		<form action="/financeiro?action=save" method="post">
			<input type="hidden" name="id" value="{{movimentacaoFinanceira.id}}" />
			<table>
				{%ifnotequal mensagem ''%}
					<tr><td colspan=6 class=erro1>Erro: {{mensagem}}</td></tr>
				{%endifnotequal%}
				<tr>
					<td width=15%>Peladeiro:</td> 
					<td><select name="peladeiro">
					{% for peladeiro in peladeiros %}
						<option value={{peladeiro.key}} 
							{%ifequal peladeiroAtual.key peladeiro.key %}
								selected
							{%endifequal%}
						>{{peladeiro.nome}}</option>
					{% endfor %}
					</select></td>
				</tr>
				<tr>
					<td>Data:</td>
					<td><input type="text" id="data" name="data" value="{{data}}" /></td>
				</tr>
				<tr>
					<td>Valor:</td>
					<td><input type="text" id="valor" name="valor" value="{{valor}}" /><br /></td>
				<tr>
					<td>Tipo:</td>
					<td><input type="radio" name="tipo" value="1"
								{%ifequal tipo '1'%}
									checked 
								{%endifequal%}
					> Cr&#233;dito &nbsp;
					<input type="radio" name="tipo" value="2"
								{%ifequal tipo '2'%}
									checked 
								{%endifequal%}
					> D&#233;bito 
					</td>
				</tr>
				<tr><td>Motivo:</td>
					<td>
					<select name="motivo">
					{% for motivo in motivos %}
						<option value={{motivo.key}}>{{motivo.motivo}}</option>
					{% endfor %}
					</select><br />
					</td>
				<tr>
				<tr>
					<td>Coment&#225;rio:</td>
					<td><input type="text" id="comentario" name="comentario" value="{{comentario}}" maxlength=10/><br /></td>
				<tr>
				
				<td colspan=2><input type="submit" value="Confirmar" /></td></tr>
			</table>
		</form>
{% endblock content %}