{% extends "../base.html" %}
{% block menu %}
{% include "../menu.html" %}
{% endblock menu %}
{% block content %}
<html>
	<body>
		<h2>Controle Financeiro</h2>
		{% ifequal consulta '1' %}
		<ul>
			<li><a href="/financeiro?action=new">Novo</a></li>
		</ul>
		{%endifequal%}
		{% ifnotequal movimentacoesFinanceiras.count 0 %}
		<table>
			<tr>
				<th>Data</th>
				<th>Valor</th>
				<th>Peladeiro</th>
				<th>Tipo</th>
				<th>Motivo</th>
				<th>Coment&#225;rio</th>
				{% ifequal consulta '1' %}
					<th>&nbsp;</th>
				{%endifequal%}
			</tr>
			{% for movimentacaoFinanceira in movimentacoesFinanceiras %}
			<tr>
				<td width=10%>{{movimentacaoFinanceira.data|date:"d/m/Y"}}</td>
				<td width=15%>{{movimentacaoFinanceira.valorFormatado}}</td>
				<td width=20%>{{movimentacaoFinanceira.peladeiro.nome}}</td>
				<td width=10% class=
				{%ifequal movimentacaoFinanceira.tipo 1 %}
					destaque1
				{%else%}
					destaque2
				{%endifequal%}
				>
				{%ifequal movimentacaoFinanceira.tipo 1 %}
					Cr&#233;dito
				{%else%}
					D&#233;bito
				{%endifequal%}
				</td>
				<td width=15%>{{movimentacaoFinanceira.motivo.motivo}}</td>
				<td width=20%>
					{% ifnotequal movimentacaoFinanceira.comentario None %}
						{{movimentacaoFinanceira.comentario}}
					{%endifnotequal%}
				</td>
				
				{% ifequal consulta '1' %}
					<td width=10%><a href="/financeiro?action=delete&id={{movimentacaoFinanceira.key}}">remover</a></td>
				{%endifequal%}
			</tr>
			{% endfor %}
			<tr><td colspan=7><hr></td></tr>
			<tr><td colspan=7 class=destaque1>Total: {{total}}</td></tr>
		</table>
		{% endifnotequal %}
	</body>
</html>
{% endblock content %}