{% extends "../base.html" %}
{% block menu %}
{% include "../menu.html" %}
{% endblock menu %}
{% block content %}

 <script language="JavaScript">
	function submitForm()
	{
		form = document.getElementById('frm');
		form.submit();
	}
 </script>
 
 <style>
    img {
		border: 0px;
	}
</style>
 
		<h2>Detalhes da Pelada</h2>
		<table>
			<tr>
				<th colspan="6">{{pelada.local}}</th>
				
			</tr>
			<tr>				
				<td id="labelTD">Data</td>
				<td id="labelTD">Horário</td>
				<td id="labelTD">Quorum Mínimo</td>
				<td id="labelTD">Quorum Máximo</td>
				<td id="labelTD">R$/Pessoa</td>
				<td id="labelTD">Observação</td>
			</tr>
			<tr>				
				<td>{{pelada.dataHora|date:"d/m/Y"}}</td>
				<td>{{pelada.dataHora|date:"H:i:s"}}</td>
				<td>{{pelada.quorumMinimo}}</td>
				<td>{{pelada.quorumMaximo}}</td>
				<td>{{pelada.valorPorPessoa}}</td>
				<td>{{pelada.observacao}}</td>
			</tr>
		</table>
		</p>
		
		<hr>
		
		<b>&nbsp;<font size="3">Lista de confirmados ({{valor}})</b></font>
		
		{% if confirma %}
		<font color="blue" size="3"><b>Pelada Confirmada</b></font><br/>		
		{% endif %}		 		
		</p>				
		{% for presenca in presentes %}	
			{% ifequal presenca.pelada.key pelada.key %}
				{% if presenca.confirmada %}			
					<b>
						&nbsp;
						<img alt="Presença confirmada" src="resources/img/check.png" height="20" width="15">
					 		{{presenca.peladeiro.nome}} - 
						 <font color="#A52A2A">
					 		{% ifequal presenca.peladeiro.apelido '' %}  Falta apelido{% else %}{{presenca.peladeiro.apelido}}{% endifequal %}
					 	</font>
					</b> 
						{% ifequal presenca.peladeiro.key usuario.key %} 
						 	- <a href="/pelada?action=furou&id_presenca={{presenca.key}}">desconfirmar</a>
						{% endifequal %}
					</br>
				{% endif %}
			{% endifequal %}
		{% endfor %}
		
		</p>
		
		<br/>
		<br/>
		
		<form action="/pelada" method="post" id="frm">
			<input type="hidden" name="action" 	value="confirm" />
			<input type="hidden" name="id_pelada" value="{{pelada.id}}" />
			{% for presenca in presentes %}	
				{% ifequal presenca.pelada.key pelada.key %}
					{% if presenca.confirmada %}
						{% ifequal presenca.peladeiro.key usuario.key %}
							<input type="hidden" name="id_presenca" value="{{presenca.key}}" />
						{% endifequal %}
					{% endif %}
				{% endifequal %}
			{% endfor %}
			{% for peladeiro in peladeiros %}
				{% ifequal peladeiro.key usuario.key %}				 			
					<input type="hidden" name="id_peladeiro" value="{{usuario.key}}" />
				{% endifequal %}
			{% endfor %}
			
			<a href="javascript: submitForm();"><img alt="Confirmar Presença" src="/resources/img/confirmar.png"></a><br/>
			
		</form>			
			
			
{% endblock content %}
