{% extends "../base.html" %}
{% block menu %}
{% include "../menu.html" %}
{% endblock menu %}
{% block content %}
<script language="JavaScript">
	function submitForm()
	{
		submeter = true;
		form = document.getElementById('frm');
		if (form.local.value == '') {
			submeter = false;
		}
		if (form.data.value == '') {
			submeter = false;
		}
		if (form.horario.value == '') {
			submeter = false;
		}
		if (form.quorumMinimo.value == '') {
			submeter = false;
		}
		if (form.quorumMaximo.value == '') {
			submeter = false;
		}
		if (form.valorPorPessoa.value == '') {
			submeter = false;
		}
		if (submeter == true) {
			form.submit();
		} else {
			alert('Preencha corretamente os campos Local, Data, Hora, Quórum e Valor.');
		}
	}
 </script>
<style>
    img {
		border: 0px;
	}
</style>

		<font size="3"><b>Nova Pelada</b></font><br/><br/><br/>

		<form action="/pelada" method="post" id ="frm">
			<input type="hidden" name="action" value="save" />
			<input type="hidden" name="id" value="{{pelada.id}}" />
			Local: <br/>
			<input type="text" id="local" name="local" value="{{pelada.local}}" /><br />
			Data: <br/>
			<input type="text" id="data" name="data" value="{{pelada.dataHora|date:"d/m/Y"}}" /><br />
			Horário: <br/>
			<input type="text" id="horario" name="horario" value="{{pelada.dataHora|date:"H:i:s"}}" /><br />			
			Qu&oacute;rum M&iacute;nimo: <br/>
			<input type="text" id="quorumMinimo" name="quorumMinimo" value="{{pelada.quorumMinimo}}" /><br />
			Qu&oacute;rum M&aacute;ximo: <br/>
			<input type="text" id="quorumMaximo" name="quorumMaximo" value="{{pelada.quorumMaximo}}" /><br />  			
			R$/Pessoa: <br/> 
			<input type="text" id="valorPorPessoa" name="valorPorPessoa" value="{{pelada.valorPorPessoa}}" /><br />
			Observação: <br/>
			<textarea id="observacao" name="observacao" style="width: 300px;">{{pelada.observacao}}</textarea> 
			<br/>
			<br/>
			<a href="javascript: submitForm();"><img alt="Salvar" src="/resources/img/salvar.jpg"></a><br/>
		</form>
{% endblock content %}
