{% extends "../base.html" %}
{% block menu %}
{% include "../menu.html" %}
{% endblock menu %}
{% block content %}
<style>
    img {
		border: 0px;
	}
}
</style>

		<h2>Manter Pelada</h2>  <br/>
		<br/>
		&nbsp;&nbsp;<a href="/pelada?action=new" title="Incluir novo peladeiro"><img alt="" src="/resources/img/inserir.gif">&nbsp;<b>Nova pelada</b></a>
		<br/>
		<br/>
				
		{% ifnotequal peladas.count 0 %}
		<h3>Pelada Atual</h3>
		<table>
			<tr>
				<th>Local</th>
				<th>Data</th>
				<th>Horário</th>
				<th>Alterar</th>
				<th>Excluir</th>				
			</tr>
			{% for pelada in peladas %}
			<tr>
				<td><a href="/pelada?action=show&id={{pelada.key}}" id="linkTabela" title="Detalhes da Pelada e Confirmação">{{pelada.local}}</a></td>
				<td>{{pelada.dataHora|date:"d/m/Y"}}</td>
				<td>{{pelada.dataHora|date:"H:i:s"}}</td>
				<td>{% if administrador %}	
						<a href="/pelada?action=edit&id={{pelada.key}}" title="Alterar pelada"><img alt="" src="/resources/img/edit.gif"></a>
					{% endif %}	
				</td>
				<td>{% if administrador %}	
						<a href="/pelada?action=delete&id={{pelada.key}}" title="Excluir pelada"><img alt="" src="/resources/img/no.gif"></a>
					{% endif %}	
				</td>				
			</tr>
			{% endfor %}
		</table>
		{% endifnotequal %}
		
		<hr/>
		
		{% ifnotequal peladasPassada.count 0 %}
		<h3>Peladas Passadas</h3>
		<table>
			<tr>
				<th>Local</th>
				<th>Data</th>
				<th>Horário</th>
				<th>Alterar</th>
				<th>Excluir</th>				
			</tr>
			{% for peladaPassada in peladasPassada %}
			<tr>
				<td><a href="/pelada?action=show&id={{peladaPassada.key}}" id="linkTabela" title="Detalhes da Pelada e Confirmação">{{peladaPassada.local}}</a></td>
				<td>{{peladaPassada.dataHora|date:"d/m/Y"}}</td>
				<td>{{peladaPassada.dataHora|date:"H:i:s"}}</td>
				<td>{% if administrador %}	
						<a href="/pelada?action=edit&id={{peladaPassada.key}}" title="Alterar pelada"><img alt="" src="/resources/img/edit.gif"></a>
					{% endif %}	
				</td>
				<td>{% if administrador %}	
						<a href="/pelada?action=delete&id={{peladaPassada.key}}" title="Excluir pelada"><img alt="" src="/resources/img/no.gif"></a>
					{% endif %}	
				</td>				
			</tr>
			{% endfor %}
		</table>
		{% endifnotequal %}
{% endblock content %}
