@CHARSET "UTF-8";

body {
	font: 12px/1.4 Verdana, Arial, Helvetica, sans-serif;
	text-align: center; /*Centraliza no IE*/
	color: black;
	background: url("/resources/img/gramabg.jpg") repeat;
}

h2 {
	font: 18px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-decoration: underline;
}

#container {
	width: expression(document.body.clientWidth > 955? "950px": "760px"); /*Para IE6 e anteriores*/
	min-width: 760px;
	max-width: 950px;
	margin: 0 auto; /*Centraliza em navegadores padrão*/
	text-align: left; /*Retorna alinhamento de textos para a esquerda*/
	border: 1px solid white;
	background-color: white;
	height: 100%;
}

#labelTD {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-decoration: none;
	color: black;
}

#header {
	height: 200px;
	width: 100%;	
	background: url("/resources/img/headerbg2.jpg") repeat;
}

#menu {
	width: 20%;
	float: left;
	background-color: #fff;
}
	
#menu_vertical {
	list-style-image: url("/resources/img/soccer-ball.gif");
	padding: 0;
	margin-left: 40px;
	font:bold 16px "Trebuchet MS";
	vertical-align: middle;
}
	#menu_vertical li {
		border-bottom: 1px dotted black;
	}
	#menu_vertical li a:link, #menu_vertical li a:visited {
		text-decoration: none;
		color: #000;
		padding: 11px 10px;
		display: block;
	}
	#menu_vertical li a:hover, #menu_vertical li a:active {
		color: gray;
	}
	/* IE 6 List item fix */
	*html #menu_vertical li { display: inline; }
	
#content {
	width: 79%;
	height: auto;
	background-color: #fff;
	float: right;
	}
#rodape {
	
}

#linkTabela{
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	color: blue;
	font-weight: bolder;
	text-decoration: none;
}

table tr td span {
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;	
	color: black;
}

table tr td font {
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;	
	color: blue;
}

table {
	width: 100%;
	text-align: left;
	padding: 10;
}

table th {
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	border-bottom: solid 1px black;
}
table tr td{
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	color: green;
	padding: 5;
}

table tr:hover{
	background-color: #f0f0f0;
}

table tr td a{
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: blue;
	text-decoration: none;
}
table tr td a:hover{
	text-decoration: underline;
}

.destaque1{
	font-weight: bold;
}

.destaque2{
	font-weight: bold;
	color: red;
}

.erro1{
	color: red;
}