{% extends "../base.html" %}
{% block menu %}
{% include "../menu.html" %}
{% endblock menu %}
{% block content %}
		<form action="/artilharia" method="post">
			<input type="hidden" name="action" value="save" />
			<input type="hidden" name="id" id="id" value="{{artilharia.id}}" />
			Jogador: <input type="text" id="nome" name="nome" value="{{artilharia.user}}" disabled="disabled" /><br />
			Apelido: <input type="text" id="apelido" name="apelido" value="{{artilharia.nome}}" disabled="disabled" /><br />
			Gols:  <input type="text" id="gols" name="gols" value="{{artilharia.gols}}" /><br />
			<input type="submit" value="Confirmar" />
		</form>
{% endblock content %}
