{% extends "../base.html" %}
{% block menu %}
{% include "../menu.html" %}
{% endblock menu %}
{% block content %}
		<h2>Artilharia &nbsp;&nbsp;&nbsp;&nbsp;
		<img src="../resources/img/bola.gif" alt="artilharia" width="25" height="25"/>
		</h2>
		{% ifnotequal artilheiros.count 0 %}
		<table>
			<tr>
				<th>Jogador</th>
				<th>Gols marcados</th>	
				<th>Altera&#231;&#227;o</th>							
			</tr>			
			{% for artilharia in artilheiros %}
			<tr>
				<td>{{artilharia.nome}}</td>
				<td>{% ifequal artilharia.gols None %}0{% else %}{{artilharia.gols}}{% endifequal %}</td>
				<td>
					{% ifequal peladeiro.key artilharia.key %}
					<a href="/artilharia?action=edit&id={{artilharia.key}}">alterar</a>
					{% endifequal %}
				</td>
				
			</tr>
			{% endfor %}
		</table>	
		{% endifnotequal %}	
{% endblock content %}
